node_modules
.next
.git
.gitignore

Dockerfile
.dockerignore
compose.yaml
docker-compose.yml

README.md
.env
.env.local
.env.*.local

.DS_Store
npm-debug.log*
.vscode
.idea

tsconfig.tsbuildinfo
next-env.d.ts
